{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email-ID</th>
                <th scope="col">Phone Number</th>
                {% if request.user.admin %}
                <th scope="col">Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if request.user.is_authenticated %}
            {% for user in object_list %}
            {% if request.user.admin %}

            <tr>
                <td scope="row"><a href="{% url 'update' user.pk %}">{{ user.email }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.contact_no }}</td>
                <th><a href="{% url 'delete' user.pk %}"> x </a></th>
            </tr>
            {% else %}
            <tr>
                <td scope="row">{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.contact_no }}</td>
            </tr>
            {% endif %}

            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}