{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center py-5">Login</h1>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class='btn btn-success'>Submit</button>
    </form>
</div>
{% endblock %}