{% url 'home' as home_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container d-flex justify-content-center py-2">
        {% if request.user.is_authenticated %}

        <a class="btn btn-danger mx-2" href="{{ logout_url }}">Logout </a>
        {% else %}
        <a class="btn btn-primary mx-2" href="{{ login_url }}">Login</a>
        {% endif %}
        {% if request.user.admin %}
        <a href="{{ register_url }}" class="btn btn-success mx-2">Add Users</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>